* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

ul {
  list-style: none;
  padding-left: 0;

}

img {
  max-width: 100%;
  border-radius: 2%;
  border: 1px solid #ddd;
}




.section {
  padding: 1rem;


}

.container {
  max-width: 65rem;
  margin: auto;
  overflow: auto;

}

.grid__item {
  float: left;
  margin: .5rem;


  width: calc(100% / 3 - 1rem);
}

.cat__box {

}

.cat__img {

}

.cat__data {
  border-bottom: .025rem solid #ddd;

  overflow: auto;
  color: #ddd;
  line-height: 2.2rem;

}



.cat__number {
  margin-top: 0;
  margin: 0 .5rem .5rem .5rem;
  float:left;
  color: #ddd;
  font-family: sans-serif;

}

.cat__author {

  margin: 0rem;

  float: right;

}

.bigcat {
  color: black;
}



.cat__author img {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  border-radius: 10%;

}


.cat__author {
  font-family: sans-serif;
}

.avatar {
  border-radius: 10%;
}
